<div class="hero-unit center">
	<h1>Seja bem vindo ao Vocal Base!</h1>
	<p>Este é um projeto feito por Ariel Schvartz e Leonardo Gardel Valverde para a disciplina de Processamento de Voz</p>
</div>